<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="SERVING TENSORFLOW 2.0 MODELS VIA DJANGO">
		<meta name="author" content="AIBharata.com">
		<title>TENSORFLOW 2.0 DJANGO TESTAPP </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href={% url 'predict' %}>TF2+Django</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href={% url 'predict' %}>Home <span class="sr-only">(current)</span></a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		
		<div class="container-fluid">
			<br> <br>
			<div class="container">
				<div class="card border-danger">
					<h5 class="card-header bg-primary">TENSORFLOW 2.0 DJANGO IMAGE CLASSIFICATION - RESNET50</h5>
					<div class="card-body ">
						<p> Upload Images only </p>
						<form method="POST" class="pl-3 pr-3" action="{% url 'predict' %}" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="file" name="img"> 
							<div class="form-group text-center">
								<br>
								<button class="btn btn-rounded btn-info" type="submit">Upload and Predict</button>
							</div>
						</form>
					</div>	
				</div>	
			</div>
			
			<!------------------------------------------
						START RESULT DISPLAY 
			------------------------------------------->
			{% if result %}
			<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
				<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
				  <div class="toast-header">
					<strong class="mr-auto">Prediction &emsp; &emsp; &emsp; &emsp; &emsp;</strong>
					<small><span id="datetime"></span></small>
					<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				  </div>
				  <div class="toast-body">
					{% for x in result %}
						<h6>{{ x }}<h6>
					{% endfor %}
				  </div>
				</div>
			</div>	
			{% endif %}
			<!------------------------------------------
						START RESULT DISPLAY 
			------------------------------------------->				
			
		</div>

		<footer class="footer text-center text-muted">
			<br> <br> <br> <br> <br>
			<div class="container">
				<span class="text-muted">All Rights Reserved by &copy;AIBharata. Designed and Developed by <a
				href="https://aibharata.com">AIBharata</a>.</span>
			</div>
			
		</footer>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
		<script>
			$(document).ready(function(){
			  $('.toast').toast('show');
			});
		</script>
		
		<script>
			var dt = new Date();
			document.getElementById("datetime").innerHTML=dt.toLocaleTimeString();
		</script>
	</body>
</html>
